<div class="container pt-3">
  <h3>承認待ちユーザ一覧</h3>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% @applies.each do |app| %>
            <%= link_to "承認", matter_contracts_path(app.matter, user_id: app.user.id, apply_id: app.id), method: :post, class:"mini-green-link-btn font-bold text-line-none" %>
            <%= link_to "却下", matter_apply_path(app.matter, app), method: :delete, class:"mini-red-link-btn font-bold text-line-none" %>
            <br>
            <%= render 'users/user', user: app.user %>
        <% end %>
      </div>
    </div>
  </div>
</div>
