// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chat{
    max-width: 600px;
    margin: 0 auto;
  }
  
.message-icon{
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
  }
  
.message-text{
    display: inline-block;
    max-width: 70%;
    border-radius: 1rem;
  }
  